        <div class="product-card">
          <!-- Child Container 1: Image Container -->
          <div class="image-container">
            <!-- Discount Badge -->
            <div class="discount-badge">
              <img src="../../assets/discount-notify.png" alt="Discount" class="discount-image">
            </div>
  
            <!-- Favorite Icon -->
            <div class="favorite-icon">
              <i class="bi bi-heart"></i>
            </div>
          </div>
  
          <!-- Child Container 2: Product Details -->
          <div class="product-details">
            <h5 class="product-name">Product Name</h5>
            <p class="product-price">
              <span class="discounted-price">Product Price</span>
              <span class="original-price">Product Price</span>
            </p>
          </div>
        </div>